p {
	margin: 0;
	padding: 0;
}

div, p, input, button, form, span, a, ul, li, img {
    box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
}

.bg-blue {
	background-color: #3F51B5;
}

.bg-dark-green {
	background-color:#26A69A;
}

.bg-dark-blue {
	background-color: #114683;
}

.light-blue {
	color: #CDD1EA;
}

.dark-blue {
	color: #3A3B3F;
}

.dark-grey {
	color: #9EA0A5;
}

.grey {
	color: #66788A;
}

.logo {
	width: 45px;
	height: 45px;
}

.logo-size {
	height: 24px;
	width: 24px;
}

.fz-12 {
	font-size: 12px;
}

.fz-16 {
	font-size: 16px;
}

.margin-15 {
	margin: 15px;
}

.border-grey {
	border: 1px solid rgba(0, 0, 0, 0.32);
}

.btn-border {
	border: 0.5px solid #bcadff;
}

.profile-link:hover::after{
	content: " ";
	display: block;
	position: absolute;
	height: 2px;
	background: #1665D8;
	width: 110%;
	left: -5%;
	top: 200%;
}

.profile-border {
	border: 1px solid #E4E7EB;
	box-shadow: 1px 1px 3px #E4E7EB;
	border-radius: 10px;
}

.profile-page .user {
	display: flex;
	justify-content: space-around;
}

.profile-page .user .user-info .user-name {
	margin-top: 10px;
}

.profile-page .user .user-photo {
	margin-top: 10px;
}

.profile-page .user .user-photo img {
	width: 140px;
	height: 140px;
}

.profile-page .user .user-info .user-city {
	color: #9EA0A5;
	font-size: 14px;
}

.profile-page .user .user-info .user-last-online {
	padding-bottom: 86px;
	color: #9EA0A5;
	font-size: 14px;
}

.profile-page .user-actions {
	display: flex;
	justify-content: space-around;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: 1px solid #E4E7EB;
}

.profile-page .user-actions .actions-text {
	font-size: 12px;
	color: #425A70;
	text-decoration: none;
}

.profile-page .user-actions .actions-text:hover {
	color: #1665D8;
}

.input-placeholder {
	margin-top: -8px;
	margin-left: 10px;
	padding-left: 4px;
	padding-right: 4px;
	z-index: 1;
	display: none;
	color: #1665D8;
	background:white;
	position: absolute;
}

.checkbox-form {
	width: 593px;
	margin-left: auto;
	margin-right: 70px;
}

