@media screen and (max-width: 424px) {
    .title-section .section-header {
        margin-top: 3%;
        margin-bottom: 8%;
    }

    .experience-section .section-header {
        margin-bottom: 10%;
    }

    .schedule-section .section-header {
        margin-bottom: 10%;
    }

    .schedule-paragraph {
        margin-bottom: 8%;
    }

}
