body {
  background: white;
}

.header-text {
  margin-top: 275px;
  font-weight: bold;
  color: #333333;
}

.header-text span {
  color: #d63c37;
}

.header-description {
  margin-top: 20px;
  color: #333333;
}

.landing-image {
  margin-top: 170px;
}

.bottom-navbar {
  margin-top: 35px;
  margin-left: 63px;
}

@media (max-width: 1000px) {
  .bottom-navbar {
    margin-top: 20px;
    margin-left: 0px;
    
  }

  .bottom-navbar-element {
    margin-bottom: 40px;
  }
}

.link-menu {
  position: fixed;
  right: 4%;
  top: 7%;
  width: 30px;
}

.menu-icon {
  margin-bottom: 30px;
}

.menu-icon a {
  color: #7f7f7f;
}
