body {
  background-color: white;
}

.header-text {
  margin-top: 75px;
  margin-bottom: 50px;
  font-size: 28px;
  font-weight: bold;
  color: white;
  text-decoration: underline;
}

.list-of-paragraphs {
  margin-left: 20px;
  text-align: right;
}

.paragraph {
  margin-top: 45px;
}

.paragraph-header {
  margin-bottom: 12px;
  font-size: 22px;
  font-weight: 700;
}

.paragraph-description {
  line-height: 1.85;
  font-weight: 500;
}

.paragraph-icon {
  color: white;
}

.background-color {
  background: #d63c37;
  padding-bottom: 49px;
}

@media (max-width: 991px) {
  .paragraph-icon {
    text-align: center;
    margin-top: 55px;
  }
}

@media (min-width: 992px) and (max-width:1100px) {
  .list-of-paragraphs {
    margin-right: 3%;
  }
}
.link-menu {
  position: fixed;
  right: 4%;
  top: 7%;
  width: 30px;
}

.menu-icon {
  margin-bottom: 30px;
}

.menu-icon a {
  color: #6b1e1b;
}
