body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0acdff;
}

/* Position the "No" button absolutely within body */
#noButton {
  position: absolute;
  margin-left: 150px;
  transition: 0.5s;
  /* Smooth movement */
}

#yesButton {
  position: absolute;
  margin-right: 150px;
  /* Smooth movement */
}

.header_text {
  font-family: "Nunito";
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
}

.text {
  font-family: "Nunito";
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  /* optional: adds some space between the buttons */
}

.btn {
  background-color: #ffb6c1;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #faf9f6;
}

.gif_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 10px;
}

.text_container {
  margin-top: 20px;
  flex-direction: column;
  gap: 10px;
  display: flex;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}
