@media screen and (min-width: 425px) and (max-width: 768px) {
    .title-section .section-header {
        margin-top: 5%;
        margin-bottom: 7%;
    }

    .title-paragraph {
        margin-bottom: 4%;
    }

    .experience-section .section-header {
        margin-bottom: 10%;
    }

    .schedule-section .section-header {
        margin-bottom: 8%;
    }

    .schedule-paragraph {
        margin-bottom: 5%;
        margin-right: auto;
        margin-left: auto;
    }

    .video-section .section-header {
        margin-bottom: 10%;
    }

    .video-container-paragraph {
        margin-left: 8%;
    }

    .pricing-section .section-header {
        margin-bottom: 5%;
    }

    .pricing-paragraph {
        margin-bottom: 5%;
    }

    .info-section .section-header {
        margin-bottom: 8%;
    }

    .info-section-form label {
        margin-bottom: 3%;
    }

    .info-section-form input {
        margin-bottom: 6%;
    }
}
